// Additional process labels for nf-test execution
// The pipeline's modules.config is auto-included via nextflow.config

process {
    withLabel: 'process_medium' {
        cpus   = 2
        memory = '8 GB'
        time   = '2h'
    }
    withLabel: 'process_low' {
        cpus   = 1
        memory = '2 GB'
        time   = '1h'
    }
}
