// Minimal Nextflow config for nf-test execution
// https://code.askimed.com/nf-test/

manifest {
    name            = 'nf-codonyat'
    homePage        = 'https://github.com/sjoclaudi/nf-codonyat'
    description     = 'Codon-aware amino acid variant typing'
    mainScript      = 'main.nf'
    version         = '0.1.0'
}

params {
    outdir           = '/tmp/nf-codonyat-test'
    publish_dir_mode = 'copy'
    protein          = 'RT'
    ratio_upper      = 3.16227766
    ratio_lower      = 0.316227766
    entropy_threshold = 0.0
}

executor {
    name = 'local'
    pollInterval = '1 sec'
}
