/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-codonyat -profile test_full,<docker/singularity/conda>
 */

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full size test dataset to check pipeline function'

    // Input data for full size test
    // Note: For nf-codonyat, test and test_full use the same data since test data is designed to be comprehensive
    samplesheet = "${projectDir}/assets/testdata/samplesheet.csv"
    reference   = "${projectDir}/assets/testdata/reference.fasta"
    amplicons   = "${projectDir}/assets/testdata/amplicons.tsv"
    kraken2_db  = "${projectDir}/assets/testdata/kraken2_tiny_db"
    outdir      = 'results-test-full'
}
